<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <main>
        <div class="form">
            <h1>Crear Auto</h1>
            <form action="#" id="form">
                <input type="text" name="modelo" placeholder="Modelo" id="modelo" required>
                <input type="text" name="patente" placeholder="Patente" id="patente" required>
                <button type="submit">Crear Auto</button>
            </form>
        </div>
    </main>
    <script src="js/index.js"></script>
</body>

</html>